/*--------------------SECTION-BRANDS---------------*/

.brands {
  text-align: center;


  &__title {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 40px;
    text-transform: uppercase;

    &:before {
      content: '';
      display: inline-block;
      background-color: #ddd;
      height: 2px;
      width: 200px;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 100%;

    }
    &:after {
      content: '';
      display: inline-block;
      background-color: #ddd;
      height: 2px;
      width: 200px;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 100%;

    }
  }

  &__text {
    font-weight: bold;
    font-size: 18px;
    color: $blue;
  }
}

//slider
.slider-bottom {
  margin-bottom: 50px;

  &__item {
    height: 60px;
    position: relative;
    display: inline-block;
    border: 1px solid #e3e3e3;
    &:hover {
      box-shadow: 0px 3px 8px 0px rgba(233, 233, 233, 0.4);
    }
  }

  &__link {
    display: inline-block;
    line-height: 60px;
    padding: 17.5px 5px;

  }

  &__img {
    height: 23px;
  }
}

.Прямоугольник_43 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 227, 227);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 599px;
  top: 1648px;
  width: 123px;
  height: 93px;
  z-index: 94;
}



