/*--------------------SECTION-NAV---------------*/

.nav {
  height: 60px;
  width: 100%;
  background-color: $blue;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;

  //menu
  &__list {
    //padding-top: 15px;
    float: left;
    border-right: 1px solid rgb(1, 64, 110);
    height: 100%;
  }

  &__item {
    display: inline-block;
    margin-top: 15px;
    margin-right: 40px;
    height: $lh;
    &_active .nav__link {
      color: $orange;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
  }
}

//search
.nav__search {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid rgb(74, 147, 200);
  border-right: 1px solid rgb(1, 64, 110);
}

.search {
  position: relative;
  padding: 10px 0;

  &__form {
    margin: 0;
  }

  &__input {
    width: 100%;
    padding: 2px 30px 2px 10px;
    line-height: 22px;
  }

  &__submit {
    background: url("/img/icons/sprite.png") 0 -330px;
    width: 21px;
    height: 22px;
    display: block;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    padding: 0;
    &:hover {
      background: url("/img/icons/sprite.png") 0 -308px;;
    }
  }
}

//cart
.nav_cart {
  border-left: 1px solid rgb(74, 147, 200);
  border-right: 1px solid rgb(1, 64, 110);
  height: 100%;
  position: relative;
  padding-top: 4px ;


  &:after {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    background-color: rgb(74, 147, 200);
  }
}

.hidden-menu {
  display: none;
  height: 100%;
  position: relative;
  padding: 0;

  &__link {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;

    &:hover + .hidden-menu__list{
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 30px;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }

  }

  &__list {
    position: absolute;
    top: 100%;
    z-index: 999;
    display: none;
    background-color: $blue;
    padding: 0;
    border-top: 2px solid $blue-d;;


    text-align: center;
  }

  &__item {
    border-bottom: 2px solid $blue-d;
    padding: 5px;
    &:hover {
      background-color: $blue-d;
    }
  }

}

.hidden-list__link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}






