/*--------------------SECTION-PHONES---------------*/
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 75px;

    &__top {
      display: none;
    }
  }

  .logo {
    text-align: center;
  }

  .phones,
  .mail,
  .time-work,
  .header__button,
  .nav__list,
  .nav__search,
  .footer__left {
    display: none;
  }

  .hidden-menu {
    display: block;
  }

  .menu {
    margin-bottom: 10px;
  }

  .menu__dropdown {
    width: 100%;
  }

  .menu__list {
    display: none;
  }

  .menu__item:hover .menu__dropdown {
    left: 0;
    top: 100%;
  }

  .news {
    display: none;
  }

  .wrapper {
    &:after {
      height: 50px;
    }
  }

  .footer {
    height: 50px;
    margin-top: -50px;
  }

  .item__incart {
    text-align: center;
  }

  .incart__col {
    margin: 0;
  }

  .item__price,
  .item__cart {
    width: 100%;
    margin-bottom: 5px;
  }

  .button__text {
    font-size: 14px;
    line-height: 16px;
  }

  .item__desc,
  .items__tittle,
  .item .products__list{
    display: none;
  }



}